[Unit]
Description=Elephant - data provider service for Walker
Documentation=https://github.com/abenz1267/elephant
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/elephant
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
